# Environment files
.env
.venv
env/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs and databases
*.log
*.sqlite3
*.db

# IDE files
.vscode/
.idea/
*.iml
*.ipr
*.iws

# Build artifacts
build/
dist/
*.egg-info/

# Virtual environment
venv/

# Docker data
pgdata/